<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FarmView</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="tooplate_style.css">
</head>

<body rext="#000" bgcolor="Lavender">
<div id="wrapper">
</div>

<div id="" toolplate>
    <div id="tooplate_menu">
        <ul>
            <li><a href="main.html">Главная</a></li>
            <li><a href="farm.html">Аптеки</a></li>
            <li><a href="med.html">Лекарства</a></li>
            <li><a href="feedback.html">Обратная связь</a></li>
        </ul>
    </div>
</div>
</body>